* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
:root {
  --primary: #272614;
  --secondary: #2bff82;
  --bg: #ffffff;
  --lines: gainsboro;
}
.bg-particle-light {
    background-image: url('/bg-particle-light.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.bg-particle-dark {
    background-image: url('/bg-particle-dark.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
html {
    scroll-behavior: smooth;
}
body {    
    background-color: var(--bg);
}
nav {
    height: 3rem;
}
nav.active {
    height: 14rem;
}
nav h1 {
    font-weight: 100;
    font-size: 23px;
    margin: 17px 21px;
    color: var(--primary);
    display: inline-block;
}
nav ul {
    list-style-type: none;
    text-align: center;
    display: none;
    background-color: var(--bg);
}
.menu-list.active {
    display: block;
}
nav ul li {
    margin-bottom: 20px;
}
nav ul li a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    transition: 0.3s;
}
nav ul li a:hover {
  color: var(--secondary);
}
.nav_line {
    border-top: 0.8px solid var(--lines);
    margin: 17px 20px;
}
.line {
    border-top: 0.8px solid var(--lines);
    margin: 17px 0px;
    width: 100%;
}
.fline {
    border-top: 0.8px solid var(--lines);
    margin: 10px 27px;
}
nav .menu_btn {
    float: right;
    position: relative;
    top: 1rem;
    right: 21px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 1.8rem;
    height: 2rem;
}
.nav_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav_icons button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 1.6rem;
    height: auto;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 0.5rem;
}
.nav_icons button svg:hover {
    stroke: var(--secondary);
}
svg {
  stroke: var(--primary);
  transition: 0.3s;
}
.hero .container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}
.hero .container h1 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-size: 28px;
    color: var(--secondary);
}
.hero .container p {
    font-size: 17px;
    font-weight: 200;
    color: var(--primary);
}
.hero .container .p1 {
    margin-top: 1rem;
    color: var(--primary);
}
.hero .container .social-links {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}
.hero .container .social-links li {
    font-size: 25px;
    color: var(--primary);
    margin: 10px 8px;
    transition: 0.3s;
}
.projects {
    list-style-type: none;
}
.projects h2 {
    margin-top: 1rem;
    color: var(--secondary);
}
.projects h2 {
  color: var(--primary);
}

/* About */

.about .container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}
.about .container h1 {
    margin-top: 2.7rem;
    margin-bottom: 1rem;
    font-size: 28px;
    color: var(--secondary);
}
.about .container h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 21px;
    color: var(--secondary);
}
.about .container p {
    font-size: 17px;
    font-weight: 200;
    color: var(--primary);
}
.about .container .sm {
    font-size: 13px;
    font-weight: 200;
    color: var(--primary);
}
.about .container .p1 {
    margin-top: 1rem;
    color: var(--primary);
}
.about .container .me-image {
  height: auto;
  width: 14rem;
  border-radius: 12px;
  border: 1.5px solid var(--secondary);
}
.b-cards {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.b-cards .card:nth-child(even) {
  border-left: 2px solid var(--secondary);
}
.b-cards .card {
  border-left: 2px solid var(--primary);
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.b-cards .card h4 {
  margin-bottom: 0.3rem;
  margin-top: 4px;
  margin-left: 8px;
  font-size: 17px;
  color: var(--secondary);
}
.b-cards .card p {
  font-size: 13px;
  margin-left: 8px;
  margin-bottom: 7px;
  font-weight: 200;
  color: var(--primary);
}
.action-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.action-buttons button {
  border: none;
  padding: 9px 18px;
  border-radius: 20px;
  background-color: var(--secondary);
  color: #121212;
  font-family: 'IBM Plex Mono', monospace;
  transition: 0.3s;
}
.action-buttons button:hover {
  color: var(--secondary);
  background-color: transparent;
  border: 1.5px solid var(--secondary);
  padding: 8px 17px;
}
/* Projects */
.card-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 23px;
}
.card-container .card {
    height: auto;
    width: 100%;
    background: var(--bg);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 12px 12px 7px 7px;
    margin-top: 2rem;
}
.card-container .card .img img {
    width: 100%;
    height: 12rem;
    border-radius: 12px 12px 0px 0px;
}
.card-container .card .img {
  width: 100%;
  height: 12rem;
  border-radius: 12px 12px 0px 0px;
}
.card-container .card .info .badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.card-container .card .info .badges img {
    width: 3rem;
    height: auto;
    margin: 5px;
    
}
.card-container .card .info {
    margin: 15px;
}
.card-container .card .info h2 {
    color: var(--secondary);
    margin-top: 10px;
    transition: 0.2s;
}
.card-container .card .info h2:hover {
  text-decoration: underline;
}
.card-container .card .info p {
    color: var(--primary);
    margin-top: 5px;
    padding-bottom: 5px;
}
@media only screen and (min-width: 768px) {
    .card-container {
        justify-content: start;
        flex-wrap: wrap; 
        flex-direction: row;
    }
    .card-container .card {
        flex: 1 0 calc(33.33% - 4rem);
        margin: 1rem;
        width: 25rem;
    }
}